body {
	margin: 0;
	font-family: Arial, sans-serif;
}

.parallax {
	background-image: url('C:/Users/shettma/OneDrive - Tecnotree/Desktop/learnings/indian-farmer-holding-crop-plant-his-wheat-field-indian-farmer-holding-crop-plant-his-wheat-field-123557695.jpg');
	height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallax2 {
	background-image: url('C:/Users/shettma/OneDrive - Tecnotree/Desktop/learnings/istockphoto-1284379612-170667a.jpg');
	height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallax3 {
	background-image: url('C:/Users/shettma/OneDrive - Tecnotree/Desktop/learnings/images.jpg');
	height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.hero-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.hero-text2 {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.hero-text3 {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.content {
	padding: 100px;
	text-align: center;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 40px;
}

p {
	font-size: 20px;
}

ul {
	list-style-type: none;
	padding: 0;
}


